body {
    font-family: serif;
    text-align: center;
    background: linear-gradient(to right, #e5a8b1, #edcfd3);
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

canvas {
    border: 2px solid #a7a6a6;
    background: white;
    cursor: crosshair;
}

.controls {
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    border: none;
    background: #f04fad;
    color: rgb(8, 8, 8);
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e63946;
}
